# Django settings
SECRET_KEY=generar-una-llave-secreta-fuerte-en-produccion
DEBUG=False
ALLOWED_HOSTS=violett.com.ar,www.violett.com.ar,187.77.43.144
CORS_ALLOWED_ORIGINS=https://violett.com.ar,https://www.violett.com.ar

# WhatsApp Credentials (Meta for Developers)
# Dejarlos vacios o comentados activa el Modo Simulador
WHATSAPP_TOKEN=tu_token_permanente_aqui
WHATSAPP_PHONE_NUMBER_ID=id_de_tu_numero_aqui
WHATSAPP_BUSINESS_ACCOUNT_ID=opcional_business_id