# Database
POSTGRES_USER=violett_user
POSTGRES_PASSWORD=violett_password
POSTGRES_DB=violett_db

# Django Backend
SECRET_KEY=change-this-secret-key-in-production
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,api.tudominio.com
CORS_ALLOWED_ORIGINS=http://localhost,http://tudominio.com,https://tudominio.com
