# Database settings
DB_NAME=fireseed_pilates
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_HOST=127.0.0.1
DB_PORT=5432

# Django settings
SECRET_KEY=django-insecure-replace-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Email / Resend Configuration
EMAIL_HOST=smtp.resend.com
EMAIL_PORT=587
EMAIL_HOST_USER=resend
EMAIL_HOST_PASSWORD=re_aqui_va_tu_api_key
DEFAULT_FROM_EMAIL="Violett <hola@tu-dominio.com.ar>"
